#parallax {
  background-image: url("./photos/https___cdn.evbuc.com_images_54583545_261923870036_1_original.jpeg");
  height: 800px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  position: relative;
  top: 45%;
  left: 35%;
  font-size: 40px;
  color: white;
}

.hire {
  position: absolute;
  top: 60%;
  left: 47%;
}

#portfolio {
  text-align: center;
}

#film,
#urban,
#self,
#engage,
#cosplay,
#animals {
  height: 267px;
}

#film,
#urban,
#self,
#engage,
#cosplay,
#animals,
#people,
#nature {
}
